#search {
    top: -230px;
    z-index: 20;
}

#features {
    margin-top: 2rem;
    position: relative;
    top: -230px;
    z-index: 10;
}

#backlink {
    position: relative;
    top: -150px;
}

.search-input {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}
.bg-gd-bpk-2 {
    background-image: url(https://peraturan.bpk.go.id/30/assets/media/backgrounds/bg-gedung-bpk-2.jpg);
}

.sesction1 {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
}
.section2 {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    padding: 20px;
    top: -180px;
}
.section3 {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    padding: 20px;
    top: -180px;
}
.section4 {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    padding: 20px;
    top: -180px;
}
.section5 {
    top: -180px;
}
.section6 {
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    padding: 20px;
    top: -180px;
}

.footer {
    background-color: #0a2647;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    padding: 20px;
    top: -180px;
}

.icon {
    transition: fill 0.3s ease;
}
.informasi:hover .icon {
    fill: #ffffff;
}

@media (max-width: 991.98px) {
    .carousel {
        padding-bottom: 200px;
    }
    #search {
        max-width: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    .bg-primary {
        background: #0a2647 !important;
    }
}

.app-container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .app-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .app-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .app-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .app-container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    #search {
        top: -450px;
        z-index: 20;
    }

    #features {
        margin-top: 2rem;
        position: relative;
        top: -450px;
        z-index: 10;
    }

    #courses {
        top: -320px;
    }
    .app-container {
        max-width: 1320px;
    }
}
